@import "/src/styles/variables";
@import "./burger/style";

.header {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__burger {
    @include minMediaDesktop{
      display: none;
    }
  }
}
